@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

:root {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --top-color: #2C2C2C;
    --primary-color: rgb(216, 114, 114);
    --primary-color-light: #3A3B3C;
    --content-color: #242526;
    --content-text-color: #FFF;
    --premium-section-color: rgba(255, 228, 52, 0.171);
    --guia-section-color: rgba(76, 243, 255, 0.171);
    --green-check-color: #43FF72;
    --yellow-content-color: rgb(230, 218, 62);
    --blue-content-color: #317CCC;
    --toggle-color: #FFF;
    --text-color: #CCC;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body {
    background: var(--body-color);
    transition: var(--tran-05);
}

body.light {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --top-color: #D9D9DF;
    --primary-color: rgb(216, 114, 114);
    --primary-color-light: #D9D9DF;
    --content-color: #FFF;
    --content-text-color: #444444;
    --premium-section-color: rgba(255, 221, 0, 0.507);
    --guia-section-color: rgba(76, 243, 255, 0.507);
    --green-check-color: #1FF843;
    --yellow-content-color: rgb(230, 218, 62);
    --blue-content-color: #317CCC;
    --toggle-color: #DDD;
    --text-color: #707070;
}

/* -------- Sidebar -------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image-text img {
    width: 40px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    height: 25px;
    width: 25px;
    display: none;
    align-items: center;
    justify-content: center;
}

body.light .sidebar header .toggle {
    color: var(--sidebar-color);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 6px;
    align-items: center;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.light .sidebar li a:hover .icon,
body.light .sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar{
    display: none;
}

.sidebar .menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.moon {
    opacity: 0;
}

body.light .menu-bar .mode i.moon {
    opacity: 1;
}

body.light .menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background: var(--text-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.light .switch::before {
    left: 24px;
}

/* -------- Top Web -------- */

.top-navbar {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    background: var(--top-color);
    transition: var(--tran-05);
}

.top-navbar p {
    text-align: right;
    font-weight: 500;
    color: var(--content-text-color);
}

/* -------- Home/Incio -------- */


/* -------- Configuraciones -------- */

.configuraciones-container {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: var(--tran-05);
}

.configuraciones-container .logs,
.configuraciones-container .cooldown,
.configuraciones-container .valoraciones,
.configuraciones-container .bloqueos,
.configuraciones-container .cstaff,
.configuraciones-container .csalida {
    background-color: var(--sidebar-color);
    margin: 10px 25px;
    padding: 20px;
    border-radius: 7px;
    transition: var(--tran-05);
}

.configuraciones-container h2 {
    color: var(--primary-color);
    font-weight: 500;
}

.configuraciones-container p {
    color: var(--text-color);
}

.configuraciones-container img {
    width: 90px;
    float: right;
}

/* -------- Configuraciones Premium -------- */

.sec-premium {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.sec-premium .mpremium-section {
    background: var(--premium-section-color);
    padding: 20px;
    margin: 25px;
    border-left: 5px solid var(--yellow-content-color);
    text-align: center;
}

.sec-premium .mpremium-section i {
    font-size: 44px;
    font-weight: 500;
    color: var(--yellow-content-color);
}

.sec-premium .mpremium-section h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--content-text-color);
}

.sec-premium .mpremium-section p {
    font-size: 16px;
    margin-bottom: 25px;
    color: var(--content-text-color);
}

.sec-premium .mpremium-section a {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    color: var(--content-text-color);
    background: var(--yellow-content-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.sec-premium .mpremium-section a:hover {
    opacity: 0.9;
}

/* -------- Configuraciones Guia -------- */

.sec-guia {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.sec-guia .guia-section {
    background: var(--guia-section-color);
    padding: 20px;
    margin: 25px;
    border-left: 5px solid var(--blue-content-color);
    text-align: center;
}

.sec-guia .guia-section i {
    font-size: 44px;
    font-weight: 500;
    color: var(--blue-content-color);
}

.sec-guia .guia-section h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--content-text-color);
}

.sec-guia .guia-section p {
    font-size: 16px;
    color: var(--content-text-color);
}

.sec-guia .guia-section a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 10px 0;
    border: none;
    border-radius: 5px;
    color: var(--content-text-color);
    background: var(--blue-content-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.sec-guia .guia-section a:hover {
    opacity: 0.9;
}

/* -------- Premium Announce -------- */

.announce-premium {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
}

.announce-premium .msg-premium {
    background: var(--content-color);
    padding: 20px;
    margin: 25px;
    text-align: center;
}

.announce-premium .msg-premium i {
    font-size: 44px;
    font-weight: 500;
    color: var(--yellow-content-color);
}

.announce-premium .msg-premium h1 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--content-text-color);
}

.announce-premium .msg-premium p {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--content-text-color);
}

/* -------- Premium -------- */

.plans-container {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: var(--tran-05);
}

.premium-plan, .premium-free {
    background: var(--content-color);
    margin: 30px 25px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: var(--tran-05);
}

.plan-title, .free-title {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px 0;
    color: var(--content-text-color);
}

.plan-title i, .free-title i {
    margin-right: 5px;
    font-weight: 900;
}

.plan-title {
    background: var(--yellow-content-color);
}

.free-title {
    background: var(--blue-content-color);
}

.plan-price cps, .plan-permanent-price cp {
    font-size: 36px;
    font-weight: 600;
    color: var(--content-text-color);
}

.plan-price span, .plan-permanent-price span {
    font-size: 18px;
    color: var(--text-color);
}

.plan-small-letter {
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.plan-features, .free-features {
    text-align: center;
    margin-bottom: 20px;
}

.plan-feature, .free-feature {
    margin-bottom: 10px;
    align-items: center;
    color: var(--content-text-color);
}

.plan-feature i, .free-feature i {
    color: var(--green-check-color);
    margin-right: 1px;
}

.plan-buy, .plan-free {
    color: var(--content-text-color);
    font-weight: 500;
    padding: 10px 100px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
}

.plan-buy:hover, .plan-free:hover {
    background: var(--yellow-content-color);
}

.button.border, .cbutton.border {
    border: 2px solid var(--yellow-content-color);
}

.plan-free:hover {
    background: var(--blue-content-color);
}

.cbutton.border {
    border: 2px solid var(--blue-content-color);
}

/* -------- Estadísticas -------- */

.estadisticas-container {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: var(--tran-05);
}

.estadisticas-container .stats,
.estadisticas-container .system,
.estadisticas-container .votes,
.estadisticas-container .datos {
    margin: 10px 25px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    transition: var(--tran-05);
}

.estadisticas-container .stats {
    background: #4CAF50;
}

.estadisticas-container .system {
    background: #e0c52d;
}

.estadisticas-container .votes {
    background: #ff3366;
}

.estadisticas-container .datos {
    background: #007bbf;
}

.estadisticas-container span {
    font-size: 90px;
    float: right;
}

@media screen and (max-width: 768px) {

    /* -------- Sidebar -------- */

    .sidebar header .toggle {
        position: absolute;
        top: 50%;
        right: -25px;
        height: 30px;
        width: 30px;
        background: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--sidebar-color);
        font-size: 22px;
        transform: translateY(-50%) rotate(180deg);
        transition: var(--tran-03);
    }

    .sidebar.close {
        width: 0%;
        background: transparent;
    }
    
    .sidebar.close .image {
        display: none;
    }
    
    .sidebar.close header .toggle {
        transform: translateY(-50%);
    }

    .sidebar.close .text {
        opacity: 0;
    }

    /* -------- Top Web -------- */

    .top-navbar {
        left: 0px;
        width: calc(100% - 0px);
    }

    /* -------- Configuraciones -------- */

    .configuraciones-container {
        left: 0px;
        width: calc(100% - 0px);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* -------- Configuraciones Premium -------- */

    .sec-premium {
        position: relative;
        left: 0px;
        width: calc(100% - 0px);
        transition: var(--tran-05);
    }

    /* -------- Configuraciones Guia -------- */

    .sec-guia {
        position: relative;
        left: 0px;
        width: calc(100% - 0px);
        transition: var(--tran-05);
    }

    /* -------- Premium Announce -------- */

    .announce-premium {
        position: relative;
        left: 0px;
        width: calc(100% - 0px);
        transition: var(--tran-05);
    }

    /* -------- Premium -------- */

    .plans-container {
        display: block;
        left: 0px;
        width: calc(100% - 0px);
        transition: var(--tran-05);
    }

    /* -------- Estadísticas -------- */

    .estadisticas-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        left: 0px;
        width: calc(100% - 0px);
    }
    
    .estadisticas-container .stats,
    .estadisticas-container .system,
    .estadisticas-container .votes,
    .estadisticas-container .datos {
        width: 90%;
    }
}